{% extends 'profileBase.html.twig' %}
{% block title %}Inter'net - Gestion des étudiants{% endblock %}
{% block stylesheet %} <link href="css/OutputActivities.css" rel="stylesheet"/> {% endblock %}
{% block javascript %}
<script src="js/main.js"></script>
<script src="js/Activities.js"></script>
{% endblock %}

{% block body %}
    <body>

    <div class="main_right">
        <div class="right_container">
            <div class="right_top">
                <img src="images/Icones/profile.png"" alt="photo de l'étudiant" id="student_photo">
                <div class="student_info">
                    <div class="student_info_left1">
                        <ul>
                            <li><p>Nom</p></li>
                            <li><p>Prenom</p></li>
                            <li><p>Age</p></li>
                        </ul>
                    </div>
                    <div class="student_info_left1">
                        <ul>
                            <li><p>Promotion</p></li>
                            <li><p>N°utilisateur</p></li>
                            <li><p>Centre</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_bottom">
                <div class="top_container">
                    <p class="title">Postulations</p>
                    {% for internship in internships %}
                        <div class="container-intern" id="container-{{ internship.id }}">
                            <div class="container-div-para">
                                <h1 class="container-h1">{{ internship.job }} - {{ internship.school_grade }}</h1>
                                <p class="container-paragraph">{{ internship.company }} - {{ internship.location }}</p>
                                <p class="container-paragraph">{{ internship.begin_date }}</p>
                                <p class="container-paragraph">{{ internship.duration }}</p>
                                <div class="container-skills">
                                    <ul>
                                        <li>{{ internship.competence_1 }}</li>
                                        <li>{{ internship.competence_2 }}</li>
                                        <li>{{ internship.competence_3 }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="bottom_container">
                    <p class="title">Wishlist</p>
                    {% for internship in internships %}
                        <div class="container-intern" id="container-{{ internship.id }}">
                            <div class="container-div-para">
                                <h1 class="container-h1">{{ internship.job }} - {{ internship.school_grade }}</h1>
                                <p class="container-paragraph">{{ internship.company }} - {{ internship.location }}</p>
                                <p class="container-paragraph">{{ internship.begin_date }}</p>
                                <p class="container-paragraph">{{ internship.duration }}</p>
                                <div class="container-skills">
                                    <ul>
                                        <li>{{ internship.competence_1 }}</li>
                                        <li>{{ internship.competence_2 }}</li>
                                        <li>{{ internship.competence_3 }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

    </body>
{% endblock %}